{% extends 'core_app/base.html' %}
{% block content %}
{% load static %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src={% static 'core_app/img/contact.jpg' %} alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Envíanos tus dudas</span>
              <span class="section-heading-lower">Contacto</span>
            </h2>

            <!-- Formulario de contacto -->
            {% if 'ok' in request.GET %}
              <div class="container-fluid text-info m-3">* Su mensaje fue enviado exitosamente, pronto nos pondremos en contacto contigo</div>
            {% endif %}
            <form action="" method="POST">
              {% csrf_token %}
              {% for field in form_contact %}
                <div class="form-group">
                  <label for={{field.name}}>{{field.label}}</label>
                  <div class="input-group">
                    {{field}}
                  </div>
                  {{field.errors}}
                </div>
              {% endfor %}
              <input type="submit" value="Enviar" class="btn btn-primary btn-block py-2">
            </form>
            <!-- Fin formulario de contacto -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}